html, body{
	margin: 0 20px;
	padding: 0;
}

html{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}


body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

.error{
	color: red;
	font-size:13px;
}

form input{
	padding:2px 2px;
	font-size:13px;
}