html, body{
	margin: 0 20px;
	padding: 0;
}

html{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.error{
	color: red;
	font-size:13px;
}

form input{
	padding:2px 2px;
	font-size:13px;
}



/* icons flashdata */
.msg_error, .msg_success, .msg_info, .msg_warning {
  padding: 7px 8px 7px 6px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 20px;
  
  font-size:15px;
  font-family:Arial, Helvetica, sans-serif;
  margin-top:20px;
}
.msg_error span, .msg_success span, .msg_info span, .msg_warning span {
  background-repeat: no-repeat;
  background-position: top left;
  display: block;
  padding: 3px 0px 3px 31px;
  line-height: 1.2;
 }
.msg_error { background:#FAF0F0; border-color: #DF7D7D;}
.msg_error span { background-image: url(/public/img/flash_icons/error.png); }
.msg_success { background: #F0FAF0; border-color: #82CE76; }
.msg_success span { background-image: url(/public/img/flash_icons/success.png); }
.msg_info { background:#E8F6F6;border-color: #6B99C7; }
.msg_info span { background-image: url(/public/img/flash_icons/info.gif); }
.msg_warning { background:#F7F3E8; border-color: #E4964D; }
.msg_warning span { background-image: url(/public/img/flash_icons/warning.png); }
/* icons flashdata */
